@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@400;700&family=Shizuru&display=swap');

body {
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.cabeçalho{
    
    background-color: #FFC107;
    text-align: center;
    align-items: center;
    position: relative;
    box-shadow: 2px 5px 6px 0px rgba(0, 0, 0, 0.295);
}

.logo-cabeçalho{
    margin: 16px 0 16px;
}

.menu-topo{
    background-color: #FFA000;
}

.menu-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.menu-itens{
    font-size: 20px;
    color: aliceblue;
    margin: 12px 24px;
    font-weight: 700;
    
}

.menu-itens a  {
    color: aliceblue;
    
}

.banner-principal{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.img-banner-principal {
    max-width: 100%;
    max-height: 100%;
}

.texto-banner-principal{
    position: absolute;
    font-size: 70px;
    color: aliceblue;
    text-shadow: -3px 4px 8px black;
}


.banner-secundario{
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img-banner-secundario {
    
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 3px 0px black;

}

.titulo-banner-secundario{
    position: absolute;
    bottom: 452px;
    left: 63px;
    font-size: 65px;
    color: aliceblue;
    
}

.texto-banner-secundario{
    position: absolute;
    bottom: 180px;
    left: 63px;
    font-size: 20px;
    color: aliceblue;
    
}

.titulo-receitas-da-semana{
    color: #FFA000;
    font-size: 55px;
    font-weight: 700;
    margin: 74px 0 40px;
    text-align: center;
}

.lista-receitas-da-semana{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.item-receitas-da-semana{
    max-width:466px;
    max-height:449px;
    width: auto;
    height: auto;
    border: black solid 2px;
    text-align: center;
    margin: 30px 0 158px;
}
.img-receitas-da-semana{
    width: 345px;
    height: 342px;
}

.rodape{
    background-color: #FFC107;
    display: flex;
    align-items: center;
}

.copyrigth{
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
}